/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cnnbr-virtual-library {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	.toggle-checkbox {
		border-color: lightgrey;
		transform: translateX(0);
	}
	.toggle-checkbox + .toggle-label {
		background-color: lightgrey;
	}
	.toggle-checkbox:checked {
		border-color: #1abc9c;
		transform: translateX(calc(100% - 8px));
	}
	.toggle-checkbox:checked + .toggle-label {
		background-color: #1abc9c;
	}
}
